$couleurprimaire : #9356DC;
$couleursecondaire : #FF79DA;
$couleurtertiaire : #99E2D0;
$hovershadow : rgb(0, 0, 0, 80%);
$couleurshadow : rgb(0, 0, 0, 50%);
$bgsmoke :rgb(245, 245, 245);
$couleurloader : rgb(100, 6, 100);
$breakpoints : (tablette: 768px);
$breakpoint : (desktop: 991px);
$borderloader : 10px solid transparent;
$beforposition : 30px;
$afterposition : 10px;
$bgcolor : linear-gradient(175deg, $couleursecondaire, $couleurprimaire);

$breakpointmenu : (desktop: 991px);