#nav_btn {
    background: $bgcolor;
    border: none;
    margin: auto;
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
    color: white;
    box-shadow: 5px 5px 10px $couleurshadow;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transform: scale(1.1);
      box-shadow: 5px 5px 10px 2px $hovershadow;
    }
  }

.btn_menu {
    background: $bgcolor;
    padding: 15px;
    font-size: 18px;
    border-radius: 50px;
    color: white;
    box-shadow: 5px 5px 10px $couleurshadow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    margin: auto;
    margin-top: 19px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transform: scale(1.1);
      box-shadow: 5px 5px 10px 2px $hovershadow;
    }
}